APP_NAME=AI Hiring Copilot
APP_ENV=development
DEBUG=True
SECRET_KEY=replace_me

API_HOST=127.0.0.1
API_PORT=8000

STREAMLIT_PORT=8501

POSTGRES_USER=hiring_admin
POSTGRES_PASSWORD=securepassword
POSTGRES_DB=ai_hiring_copilot
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql://hiring_admin:securepassword@localhost:5432/ai_hiring_copilot

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=mistral

UPLOAD_DIR=uploads/
MAX_FILE_SIZE_MB=10

SPACY_MODEL=en_core_web_sm

ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256

